:root {
  --vp-c-brand: rgba(var(--c-primary), 1); 
  --vp-c-brand-lighter: rgba(var(--c-primary-active), 1);
  --vp-c-brand-dark: rgba(var(--c-primary-active), 1);
  --vp-c-brand-darker: rgba(var(--c-primary), 1);
  --vp-c-brand-next: rgba(var(--c-primary));
  -webkit-animation: colorTransition 15s linear infinite;
  animation: colorTransition 15s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    -webkit-animation: none !important;
            animation: none !important;
  }
}
