:root {
  --nv-primary-hex: #2563eb;
  --nv-primary-50: 239, 246, 255;
  --nv-primary-100: 219, 234, 254;
  --nv-primary-200: 191, 219, 254;
  --nv-primary-300: 147, 197, 253;
  --nv-primary-400: 96, 165, 250;
  --nv-primary-500: 59, 130, 246;
  --nv-primary-600: 37, 99, 235;
  --nv-primary-700: 29, 78, 216;
  --nv-primary-800: 30, 64, 175;
  --nv-primary-900: 30, 58, 138;
  --nv-primary-950: 23, 37, 84;
      
  --nv-gray-hex: #4b5563;
  --nv-gray-50: 249, 250, 251;
  --nv-gray-100: 243, 244, 246;
  --nv-gray-200: 229, 231, 235;
  --nv-gray-300: 209, 213, 219;
  --nv-gray-400: 156, 163, 175;
  --nv-gray-500: 107, 114, 128;
  --nv-gray-600: 75, 85, 99;
  --nv-gray-700: 55, 65, 81;
  --nv-gray-800: 31, 41, 55;
  --nv-gray-900: 17, 24, 39;
  --nv-gray-950: 3, 7, 18;
}