html {
  font-size: var(--font-size, 16px);
  background-color: var(--c-background);
  color: var(--c-foreground);
}

::-moz-selection {
  background: var(--c-bg-selection);
}

::selection {
  background: var(--c-bg-selection);
}

html.dark {
  color-scheme: dark;
}
