@import './color-transition.css';
@import './transition.css';

/* Base override */
:root {
  --elements-backdrop-background: rgb(var(--c-background)) !important;

  @media (min-width: 768px) {
    .container {
      max-width: 80% !important;
    }
  }
}


html {
  font-size: 16px !important;
}

code {
  min-width: 100% !important;
}

.ellipsis {
  /* opacity: .5 !important; */
  ---y-uj-background: linear-gradient(130.62deg, rgba(var(--c-primary), 1) 24.27%, rgba(var(--c-primary), 1) 50.88%, var(--nv-c-brand-next) 78.48%) !important;
}
