@import './color-transition.css';
@import './transition.css';

:root {
  /* base */
  --elements-backdrop-background: var(--c-background) !important;
  --elements-backdrop-filter: blur(5px) !important;

  /* typography */
  --prose-code-inline-color: rgb(var(--una-primary)) !important;
}

/* override */
html {
  font-size: 16px !important;
}

h1 {
  color: rgb(var(--una-primary)) !important;
}

code {
  min-width: 100% !important;
}

.tabs-header .tabs button.active {
  /* color: rgb(var(--una-primary-active)) !important; */
}

.layout .card {
  background-color: var(--c-muted) !important;
  border-color: var(--c-border) !important;
}

.card .icon {
  font-size: 1.5rem !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 80% !important;
  }
}
