:root {
  -webkit-animation: colorTransition 15s linear infinite;
  animation: colorTransition 15s linear infinite;

  --c-brand-next: rgb(var(--una-primary));
  --c-brand-light: rgb(var(--una-primary-active));
}

@media (prefers-reduced-motion: reduce) {
  :root {
    -webkit-animation: none !important;
            animation: none !important;
  }
}
