:root {
  --una-primary-hex: #d08700;
  --una-primary-50: oklch(0.987 0.026 102.212);
  --una-primary-100: oklch(0.973 0.071 103.193);
  --una-primary-200: oklch(0.945 0.129 101.54);
  --una-primary-300: oklch(0.905 0.182 98.111);
  --una-primary-400: oklch(0.852 0.199 91.936);
  --una-primary-500: oklch(0.795 0.184 86.047);
  --una-primary-600: oklch(0.681 0.162 75.834);
  --una-primary-700: oklch(0.554 0.135 66.442);
  --una-primary-800: oklch(0.476 0.114 61.907);
  --una-primary-900: oklch(0.421 0.095 57.708);
  --una-primary-950: oklch(0.286 0.066 53.813);
  --una-gray-hex: #57534d;
  --una-gray-50: oklch(0.985 0.001 106.423);
  --una-gray-100: oklch(0.97 0.001 106.424);
  --una-gray-200: oklch(0.923 0.003 48.717);
  --una-gray-300: oklch(0.869 0.005 56.366);
  --una-gray-400: oklch(0.709 0.01 56.259);
  --una-gray-500: oklch(0.553 0.013 58.071);
  --una-gray-600: oklch(0.444 0.011 73.639);
  --una-gray-700: oklch(0.374 0.01 67.558);
  --una-gray-800: oklch(0.268 0.007 34.298);
  --una-gray-900: oklch(0.216 0.006 56.043);
  --una-gray-950: oklch(0.147 0.004 49.25);
}

:root {
  --una-font-size: 16px;
  --una-radius: 0.5rem;
  --una-brand: var(--una-primary-600);
  --una-primary: var(--una-primary-600);
  --una-primary-active: var(--una-primary-500);
  --una-gray: var(--una-gray-600);
  --una-gray-active: var(--una-gray-500);
  --una-background: 255, 255, 255;
  --una-foreground: var(--una-gray-950);
  --una-input: var(--una-gray-200);
  --c-background: var(--una-background);
  --c-foreground: var(--una-foreground);
  --c-muted: var(--una-gray-50);
  --c-muted-foreground: var(--una-gray-500);
  --c-accent: var(--una-gray-100);
  --c-accent-foreground: var(--una-gray-800);
  --c-popover: var(--una-gray-800);
  --c-popover-foreground: var(--una-gray-950);
  --c-border: var(--una-gray-200);
  --c-border-foreground: var(--una-gray-700);
  --c-ring: var(--una-gray-200);
  --c-divider: var(--una-gray-200);
  --c-bg-selection: var(--una-primary-600);
  --un-default-border-color: var(--c-border);
  --una-sidebar: var(--una-background);
  --una-sidebar-foreground: var(--una-foreground);
  --una-sidebar-primary: var(--una-primary);
  --una-sidebar-primary-foreground: var(--una-background);
  --una-sidebar-accent: var(--una-gray-100);
  --una-sidebar-accent-foreground: var(--una-gray-800);
  --una-sidebar-border: var(--una-gray-200);
  --una-sidebar-ring: var(--una-gray-200);
}

.dark {
  --una-brand: var(--una-primary-500);
  --una-primary: var(--una-primary-500);
  --una-primary-active: var(--una-primary-400);
  --una-gray: var(--una-gray-500);
  --una-gray-active: var(--una-gray-400);
  --una-background: var(--una-gray-950);
  --una-foreground: 255, 255, 255;
  --una-input: var(--una-gray-800);
  --c-background: var(--una-background);
  --c-foreground: var(--una-foreground);
  --c-muted: var(--una-gray-900);
  --c-muted-foreground: var(--una-gray-400);
  --c-accent: var(--una-gray-800);
  --c-accent-foreground: var(--una-gray-100);
  --c-popover: var(--una-gray-950);
  --c-popover-foreground: var(--una-gray-100);
  --c-border: var(--una-gray-700);
  --c-border-foreground: var(--una-gray-200);
  --c-ring: var(--una-gray-700);
  --c-divider: var(--una-gray-700);
  --c-bg-selection: var(--una-primary-500);
  --una-sidebar-accent: var(--una-gray-800);
  --una-sidebar-accent-foreground: var(--una-gray-100);
  --una-sidebar-border: var(--una-gray-700);
  --una-sidebar-ring: var(--una-gray-700);
}

html {
  font-size: var(--una-font-size, 16px);
  @apply font-sans antialiased text-foreground bg-background;
}

html.dark {
  color-scheme: dark;
}

::-moz-selection {
  background: var(--c-bg-selection);
}

::selection {
  background: var(--c-bg-selection);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
