html {
  font-size: var(--una-font-size, 16px);
  @apply font-sans antialiased text-foreground bg-background;
}

* {
  @apply border-border outline-ring/50;
}

::selection {
  @apply bg-selection text-selection-foreground;
}

body {
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  [data-wrapper] {
    @apply min-[1800px]:border-t;
  }
}

a:active,
button:active {
  @apply opacity-60 md:opacity-100;
}
