html {
  font-size: var(--una-font-size, 16px);
  background-color: var(--c-background);
  color: var(--c-foreground);
  height: 100dvh;
}

html.dark {
  color-scheme: dark;
}

::-moz-selection {
  background: var(--c-bg-selection);
}

::selection {
  background: var(--c-bg-selection);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
