:root {
  --nv-primary-hex: #ea580c;
  --nv-primary-50: 255, 247, 237;
  --nv-primary-100: 255, 237, 213;
  --nv-primary-200: 254, 215, 170;
  --nv-primary-300: 253, 186, 116;
  --nv-primary-400: 251, 146, 60;
  --nv-primary-500: 249, 115, 22;
  --nv-primary-600: 234, 88, 12;
  --nv-primary-700: 194, 65, 12;
  --nv-primary-800: 154, 52, 18;
  --nv-primary-900: 124, 45, 18;
  --nv-primary-950: 67, 20, 7;
      
  --nv-gray-hex: #475569;
  --nv-gray-50: 248, 250, 252;
  --nv-gray-100: 241, 245, 249;
  --nv-gray-200: 226, 232, 240;
  --nv-gray-300: 203, 213, 225;
  --nv-gray-400: 148, 163, 184;
  --nv-gray-500: 100, 116, 139;
  --nv-gray-600: 71, 85, 105;
  --nv-gray-700: 51, 65, 85;
  --nv-gray-800: 30, 41, 59;
  --nv-gray-900: 15, 23, 42;
  --nv-gray-950: 2, 6, 23;
}