:root {
  --nv-primary-hex: #ca8a04;
  --nv-primary-50: 254, 252, 232;
  --nv-primary-100: 254, 249, 195;
  --nv-primary-200: 254, 240, 138;
  --nv-primary-300: 253, 224, 71;
  --nv-primary-400: 250, 204, 21;
  --nv-primary-500: 234, 179, 8;
  --nv-primary-600: 202, 138, 4;
  --nv-primary-700: 161, 98, 7;
  --nv-primary-800: 133, 77, 14;
  --nv-primary-900: 113, 63, 18;
  --nv-primary-950: 66, 32, 6;
      
  --nv-gray-hex: #52525b;
  --nv-gray-50: 250, 250, 250;
  --nv-gray-100: 244, 244, 245;
  --nv-gray-200: 228, 228, 231;
  --nv-gray-300: 212, 212, 216;
  --nv-gray-400: 161, 161, 170;
  --nv-gray-500: 113, 113, 122;
  --nv-gray-600: 82, 82, 91;
  --nv-gray-700: 63, 63, 70;
  --nv-gray-800: 39, 39, 42;
  --nv-gray-900: 24, 24, 27;
  --nv-gray-950: 9, 9, 11;
}