:root {
  --nv-primary-hex: #ea580c;
  --nv-primary-50: 255, 247, 237;
  --nv-primary-100: 255, 237, 213;
  --nv-primary-200: 254, 215, 170;
  --nv-primary-300: 253, 186, 116;
  --nv-primary-400: 251, 146, 60;
  --nv-primary-500: 249, 115, 22;
  --nv-primary-600: 234, 88, 12;
  --nv-primary-700: 194, 65, 12;
  --nv-primary-800: 154, 52, 18;
  --nv-primary-900: 124, 45, 18;
  --nv-primary-950: 67, 20, 7;
      
  --nv-gray-hex: #52525b;
  --nv-gray-50: 250, 250, 250;
  --nv-gray-100: 244, 244, 245;
  --nv-gray-200: 228, 228, 231;
  --nv-gray-300: 212, 212, 216;
  --nv-gray-400: 161, 161, 170;
  --nv-gray-500: 113, 113, 122;
  --nv-gray-600: 82, 82, 91;
  --nv-gray-700: 63, 63, 70;
  --nv-gray-800: 39, 39, 42;
  --nv-gray-900: 24, 24, 27;
  --nv-gray-950: 9, 9, 11;
}
