html {
  font-size: var(--font-size, 15px);
  background-color: rgb(var(--n-gray-1));
  color: rgb(var(--n-gray-12));
}

::-moz-selection {
  background: rgba(var(--n-bg-selection), 0.3);
}

::selection {
  background: rgba(var(--n-bg-selection), 0.3);
}

/* Force vertical scrollbar to be always visible to avoid layout shift while loading the content */
body {
  overflow-y: auto; /* scroll */
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}


