* {
  scrollbar-color: #8885 var(--c-border);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--c-border);
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: calc(var(--radius) - 4px);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--muted) !important;
}
