* {
  scrollbar-color: #8885 var(--color-border);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-border);
  border-radius: var(--una-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--color-muted-foreground);
  border-radius: calc(var(--una-radius) - 4px);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted) !important;
}
