* {
  scrollbar-color: #8885 rgb(var(--una-border));
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(var(--una-border));
  border-radius: rgb(var(--una-radius));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--una-muted-foreground));
  border-radius: calc(rgb(var(--una-radius)) - 4px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--una-muted)) !important;
}
