:root {
  --una-primary-hex: #2563eb;
  --una-primary-50: 239, 246, 255;
  --una-primary-100: 219, 234, 254;
  --una-primary-200: 191, 219, 254;
  --una-primary-300: 147, 197, 253;
  --una-primary-400: 96, 165, 250;
  --una-primary-500: 59, 130, 246;
  --una-primary-600: 37, 99, 235;
  --una-primary-700: 29, 78, 216;
  --una-primary-800: 30, 64, 175;
  --una-primary-900: 30, 58, 138;
  --una-primary-950: 23, 37, 84;
      
  --una-gray-hex: #475569;
  --una-gray-50: 248, 250, 252;
  --una-gray-100: 241, 245, 249;
  --una-gray-200: 226, 232, 240;
  --una-gray-300: 203, 213, 225;
  --una-gray-400: 148, 163, 184;
  --una-gray-500: 100, 116, 139;
  --una-gray-600: 71, 85, 105;
  --una-gray-700: 51, 65, 85;
  --una-gray-800: 30, 41, 59;
  --una-gray-900: 15, 23, 42;
  --una-gray-950: 2, 6, 23;
}
