:root {
  --una-primary: var(--una-primary-600);
  --una-primary-active: var(--una-primary-500);
  --una-gray: var(--una-gray-600);
  --una-gray-active: var(--una-gray-500);

  --c-brand: rgb(var(--una-primary-600));
  --c-background: rgb(255 255 255);
  --c-foreground: rgb(var(--una-gray-950));
  --c-muted: rgb(var(--una-gray-50));
  --c-muted-foreground: rgb(var(--una-gray-500));
  --c-bg-selection: rgba(var(--una-primary-600), 0.2);

  --c-border: rgb(var(--una-gray-200));
  --c-ring: rgb(var(--una-gray-200));
  --c-divider: rgb(var(--una-gray-200));

  --radius: 0.95rem;
}

.dark {
  --una-primary: var(--una-primary-500);
  --una-primary-active: var(--una-primary-400);
  --una-gray: var(--una-gray-500);
  --una-gray-active: var(--una-gray-400);

  --c-brand: rgb(var(--una-primary-500));
  --c-background: rgb(var(--una-gray-950)); 
  --c-foreground: rgb(255 255 255);
  --c-muted: rgb(var(--una-gray-900));
  --c-muted-foreground: rgb(var(--una-gray-400));
  --c-bg-selection: rgba(var(--una-primary-500), 0.2);

  --c-border: rgba(var(--una-gray-700), .58);
  --c-ring: rgba(var(--una-gray-700), .58);
  --c-divider: rgba(var(--una-gray-700), .58);
}
