:root {
  --una-font-size: 16px;
  --una-radius: 0.5rem;

  --una-brand: var(--una-primary-600);
  --una-primary: var(--una-primary-600);
  --una-primary-active: var(--una-primary-500);
  --una-gray: var(--una-gray-600);
  --una-gray-active: var(--una-gray-500);
  --una-background: 255, 255, 255;
  --una-foreground: var(--una-gray-950);

  --c-background: rgb(var(--una-background));
  --c-foreground: rgb(var(--una-foreground));

  --c-muted: rgb(var(--una-gray-50));
  --c-muted-foreground: rgb(var(--una-gray-500));

  --c-accent: rgb(var(--una-gray-100));
  --c-accent-foreground: rgb(var(--una-gray-800));

  --c-popover: rgb(255, 255, 255);
  --c-popover-foreground: rgb(var(--una-gray-950));

  --c-sidebar: rgb(var(--una-background));
  --c-sidebar-foreground: rgb(var(--una-foreground));
  --c-sidebar-primary: rgb(var(--una-primary));
  --c-sidebar-primary-foreground: rgb(var(--una-background));
  --c-sidebar-accent: rgb(var(--una-accent));
  --c-sidebar-accent-foreground: rgb(var(--una-accent-foreground));

  --c-border: rgb(var(--una-gray-200));
  --c-border-foreground: rgba(var(--una-gray-700), 0.58);

  --c-ring: rgb(var(--una-gray-200));
  --c-divider: rgb(var(--una-gray-200));
  --c-bg-selection: rgba(var(--una-primary-600), 0.2);

  --un-default-border-color: var(--c-border);

  --una-sidebar: var(--una-background);
  --una-sidebar-foreground: var(--una-foreground);
  --una-sidebar-primary: var(--una-primary);
  --una-sidebar-primary-foreground: var(--una-background);
  --una-sidebar-accent: var(--una-gray-100);
  --una-sidebar-accent-foreground: var(--una-gray-800);
  --una-sidebar-border: var(--una-gray-200);
  --una-sidebar-ring: var(--una-gray-200);
}

.dark {
  --una-brand: var(--una-primary-500);
  --una-primary: var(--una-primary-500);
  --una-primary-active: var(--una-primary-400);
  --una-gray: var(--una-gray-500);
  --una-gray-active: var(--una-gray-400);
  --una-background: var(--una-gray-950);
  --una-foreground: 255, 255, 255;

  --c-background: rgb(var(--una-background));
  --c-foreground: rgb(var(--una-foreground));

  --c-muted: rgb(var(--una-gray-900));
  --c-muted-foreground: rgb(var(--una-gray-400));

  --c-accent: rgb(var(--una-gray-800));
  --c-accent-foreground: rgb(var(--una-gray-100));

  --c-popover: rgb(var(--una-gray-950));
  --c-popover-foreground: rgb(255, 255, 255);

  --c-border: rgba(var(--una-gray-700), 0.58);
  --c-border-foreground: rgb(var(--una-gray-200));

  --c-ring: rgba(var(--una-gray-700), 0.58);
  --c-divider: rgba(var(--una-gray-700), 0.58);
  --c-bg-selection: rgba(var(--una-primary-500), 0.2);

  --una-sidebar-accent: var(--una-gray-800);
  --una-sidebar-accent-foreground: var(--una-gray-100);
  --una-sidebar-border: var(--una-gray-700);
  --una-sidebar-ring: var(--una-gray-700);
}
