:root {
  --una-font-size: 16px;
  --una-radius: 0.5rem;

  --una-brand: var(--una-primary-600);
  --una-primary: var(--una-primary-600);
  --una-primary-active: var(--una-primary-500);
  --una-gray: var(--una-gray-600);
  --una-gray-active: var(--una-gray-500);

  --una-background: 255, 255, 255;
  --una-foreground: var(--una-gray-950);

  --una-muted: var(--una-gray-50);
  --una-muted-foreground: var(--una-gray-500);

  --una-accent: var(--una-gray-100);
  --una-accent-foreground: var(--una-gray-800);

  --una-popover: 255, 255 255;  
  --una-popover-foreground: var(--una-gray-950);

  --una-border: var(--una-gray-200);
  --una-ring: var(--una-gray-200);

  --bg-selection: rgba(var(--una-primary-600), 0.2);
}

.dark {
  --una-brand: var(--una-primary-500);
  --una-primary: var(--una-primary-500);
  --una-primary-active: var(--una-primary-400);
  --una-gray: var(--una-gray-500);
  --una-gray-active: var(--una-gray-400);

  --una-background: var(--una-gray-950); 
  --una-foreground: 255, 255, 255;

  --una-muted: var(--una-gray-900);
  --una-muted-foreground: var(--una-gray-400);

  --una-accent: var(--una-gray-800);
  --una-accent-foreground: var(--una-gray-100);

  --una-popover: var(--una-gray-950);
  --una-popover-foreground: 255 255 255; 

  --una-border: var(--una-gray-700, 0.58);
  --una-ring: var(--una-gray-700, 0.58);

  --c-bg-selection: rgba(var(--una-primary-500), 0.2);
}
