:root {
  --una-font-size: 16px;
  --una-radius: 0.5rem;

  --c-brand: rgb(var(--una-primary-600));
  --una-primary: var(--una-primary-600);
  --una-primary-active: var(--una-primary-500);
  --una-gray: var(--una-gray-600);
  --una-gray-active: var(--una-gray-500);

  --c-background: rgb(255 255 255);
  --c-foreground: rgb(var(--una-gray-950));

  --c-muted: rgb(var(--una-gray-50));
  --c-muted-foreground: rgb(var(--una-gray-500));

  --c-accent: rgb(var(--una-gray-100));
  --c-accent-foreground: rgb(var(--una-gray-800));

  --c-popover: rgb(255 255 255);  
  --c-popover-foreground: rgb(var(--una-gray-950));

  --c-border: rgb(var(--una-gray-200));
  --c-ring: rgb(var(--una-gray-200));
  --c-bg-selection: rgba(var(--una-primary-600), 0.2);
}

.dark {
  --c-brand: rgb(var(--una-primary-500));
  --una-primary: var(--una-primary-500);
  --una-primary-active: var(--una-primary-400);
  --una-gray: var(--una-gray-500);
  --una-gray-active: var(--una-gray-400);

  --c-background: rgb(var(--una-gray-950)); 
  --c-foreground: rgb(255 255 255);

  --c-muted: rgb(var(--una-gray-900));
  --c-muted-foreground: rgb(var(--una-gray-400));

  --c-accent: rgb(var(--una-gray-800));
  --c-accent-foreground: rgb(var(--una-gray-100));

  --c-popover: rgb(var(--una-gray-950));
  --c-popover-foreground: rgb(255 255 255); 

  --c-border: rgba(var(--una-gray-700), .58);
  --c-ring: rgba(var(--una-gray-700), .58);
  --c-bg-selection: rgba(var(--una-primary-500), 0.2);
}
