/* Typography */
h1 {
  color: var(--vp-c-brand);
}

.logo {
  height: 45px !important;
  margin-top: -5px;
  border-radius: 50% !important;
}

.dark .logo {
  filter: drop-shadow(0 0 .2mm var(--vp-c-brand-darker));
}

.dark .title {
  filter: drop-shadow(0 0 .1mm var(--vp-c-brand-lighter));
  padding-right: 0.1em;
}

.has-sidebar .content-body {
  border-bottom: 1px solid var(--vp-c-divider) !important;
}

/* Sidebar */
.VPSidebar {
  border-right: 1px solid var(--vp-c-divider);
}

/* Landing */
.VPFeature {
  border: 1px solid var(--vp-c-divider) !important;
}

/* .icon {
  color: rgb(var(--c-primary)) !important;
} */

.icon:hover {
  color: rgb(var(--c-primary-active)) !important;
}

.VPFeature:hover {
  border-color: var(--vp-c-brand) !important;
}

/* Code */
.vp-doc :not(pre) > code {
  background: var(--vp-c-bg-soft);
  color: var(--vp-c-brand);
}

/* Dropdown */
.VPMenu {
  min-width: 200px !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

.vp-doc a,
.vp-doc a > code,
.VPNavBarMenuLink.VPNavBarMenuLink:hover,
.VPNavBarMenuLink.VPNavBarMenuLink.active,
.link.link:hover,
.link.link.active,
.edit-link-button.edit-link-button,
.pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.vp-doc a:hover,
.vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.vp-doc .custom-block a {
  transition: color 0.25s;
}

.VPLocalSearchBox .result {
  --vp-c-bg-search-result: var(--vp-c-bg);
  background: var(--vp-c-bg-search-result) !important;
  padding: 4px !important;
  border: 1px solid var(--vp-c-divider) !important;
}
.VPLocalSearchBox .result.selected {
  --vp-c-bg-search-result: var(--vp-c-bg-soft) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-top {
  background: linear-gradient(var(--vp-c-bg-search-result),transparent) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-bottom {
  background: linear-gradient(transparent,var(--vp-c-bg-search-result)) !important;
}
.VPLocalSearchBox .title-icon {
  display: none;
}
.VPLocalSearchBox .excerpt-wrapper {
  margin-top: 4px;
}

/* Misc */
.VPTeamPageTitle .title,.VPTeamPageSection .title {
  filter: none !important;
}

.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand);
}

.VPHero .image-bg {
  z-index: 1;
  opacity: 0.8;
  transition: opacity 1s ease;
}

.VPHero .image-container:hover .image-bg {
  opacity: 0.2;
}
