name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: pnpm
      - run: pnpm install
      - run: pnpm prepare
      - run: pnpm build
      - run: pnpm lint:fix
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
