name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: pnpm
      - run: pnpm install
      - run: pnpm prepare
      - run: pnpm build
      - run: pnpm lint:fix
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
